<!-- views/posts-new.handlebars -->


<legend>New Post</legend>

<form action="/posts" method="POST">
    <label for="title">Title</label>
    <br>
    <input type="text" name="title">
    <br>
    <label for="desc">Description</label>
    <br>
    <textarea name="desc" id="" cols="30" rows="10"></textarea>
    <br>
     
    <button type="submit">Save Post</button>
</form>